<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NLHospital.Properties.Settings.NLHConnectionString"
            connectionString="Data Source=techgirl\mssqlserver01;Initial Catalog=NLH;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>